*{
  margin: 0;
  padding: 0;
}

.body {
  width: 100%;
    height: 100vh;
    background-color: gainsboro;
    background-size: cover;
    background-position: center;

}

h1{
  text-align: center;
  font-family: cursive;
  font-size: 60px;
}


.form {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.form h2 {
  margin-bottom: 20px;
  font-size: 35px;
  color: #333;
  text-align: center;
}

.form input[type="email"],
.form input[type="password"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form input[type="email"]:focus,
.form input[type="password"]:focus {
  border-color: #333;
  outline: none;
}

.form button {
  font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    padding: 10px 10px;
    width: 50%;
    border-radius: 10px;
    border: 0;
    float: right;
    color: #fff;
    background-color: #555;

}

.form button:hover {
  background-color: green;
}

.p {
  text-align: center;
  margin-top: 20px;
}

.p a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

.p a:hover {
  text-decoration: underline;
}